<body background="https://cdn.dribbble.com/users/44324/screenshots/8575192/media/6e75d7157c8b1d92de3ab2a973200bfb.jpg">
<h1>Welcome Stranger!</h1>


<p><%= @message %></p>
<%= link_to 'Come inside', controller: 'articles' %>


</body>
